<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-img src="/assets/home3.png"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="/assets/home7.png"></ion-img>
        
        </ion-slide>
  
      </ion-slides>
      <ion-card-header>
        <ion-card-title>Religión</ion-card-title>
      </ion-card-header>
      <ion-card-content>

          <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="/assets/religion.mp4" type="video/mp4"/></video>
        

        <p style="text-align: justify;
        text-justify: inter-word;">
          Los más antiguos pobladores que fundaron Temascalcingo fueron Mazahuas, de acuerdo con la doctrina y enseñanza en la lengua Mazahua, de <b>Nájera Yanguas</b> y sus fundadores lo llamaron <b>Ñiñi Mbate</b>, que significa “Lugar del Pequeño Llano” también lo llamaron Rambemzo que significa “Lugar del Primer Hombre”.
          <br><br>
          En San Francisco Tepeolulco se encuentra la parroquia de San Francisco de Asís, en el municipio de Temascalcingo, Estado de México, con sede episcopal de la Diócesis de Atlacomulco, donde se encuentra la Catedral de la Divina Providencia.
          <br><br>       
          El 30 de Junio de 2009 se erige como parroquia la iglesia de San Francisco de Asís.   
        
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
