<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-img src="/assets/home3.png"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="/assets/home7.png"></ion-img>
        
        </ion-slide>
  
      </ion-slides>
      <ion-card-header>
        <ion-card-title>Clima</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="text-align: justify;
        text-justify: inter-word;">
          El clima de acuerdo con la estación meteorológica local es <b>“Templado subhúmedo”</b> con invierno seco y lluvias monzónicos en verano, con poca oscilación.
        
          

        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
