<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-img src="/assets/home3.png"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="/assets/home7.png"></ion-img>
        
        </ion-slide>
  
      </ion-slides>
      <ion-card-header>
        <ion-card-title>Fauna</ion-card-title>
      </ion-card-header>
      <ion-card-content>

          <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="/assets/fauna.mp4" type="video/mp4"/></video>
        

          <p style="text-align: justify;
          text-justify: inter-word;">
            La fauna que se encuentran en la región son los siguientes: conejos de campo, coyotes, ratas de campo, zorrillos, ardillas, murciélagos, búhos, zopilotes, águilas, sapos, avispas, lagartijas, víboras de agua, víboras de cascabel, víboras conocidos coloquialmente como masa, hormigas, ranas, abejas, golondrinas, palomas, arañas, camaleones, borregos, caballos, aves de corral, etcétera. Al paso de los años algunas de las especies mencionadas anteriormente se han ido extinguiendo como por ejemplo: coyotes, búhos, conejos de campo, águilas, etcétera por el cambio que  va sufriendo la localidad al paso de los años.
          </p>
        </ion-card-content>
      </ion-card>

          <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="/assets/ubicacion.mp4" type="video/mp4"/></video>
        
        <p style="text-align: justify;
        text-justify: inter-word;">
          La fauna que se encuentran en la región son los siguientes: conejos de campo, coyotes, ratas de campo, zorrillos, ardillas, murciélagos, búhos, zopilotes, águilas, sapos, avispas, lagartijas, víboras de agua, víboras de cascabel, víboras conocidos coloquialmente como masa, hormigas, ranas, abejas, golondrinas, palomas, arañas, camaleones, borregos, caballos, aves de corral, etcétera. Al paso de los años algunas de las especies mencionadas anteriormente se han ido extinguiendo como por ejemplo: coyotes, búhos, conejos de campo, águilas, etcétera por el cambio que  va sufriendo la localidad al paso de los años.
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
