<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/fiesta1.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Festividades</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
          San Francisco Tepeolulco cuenta con una variedad de festividades en sus diferentes barrios como por ejemplo:
      </p>
      <ul>
        <li>
            Fiesta Patronal en honor a San Francisco de Asís, festividad más importante para la comunidad los días <b>03 y 04 de Octubre</b>.
            <ion-img src="/assets/fiesta2.png"></ion-img>
          </li>
        <li >
            Es importante mencionar que los días <b>26 y 27 de Septiembre</b> en la iglesia que data del siglo XVII ubicado en el Calvario de San Francisco Tepeolulco, también se lleva a cabo la Fiesta Patronal en Honor a San Francisco de Asís, siendo la primera iglesia que se construye en San Francisco Tepeolulco.
        </li>
        <li>
            Los días <b>05 y 06 de Octubre</b>  en San Francisco Tepeolulco Tercer Barrio la Mesa, también se lleva a cabo la misma festividad en Honor a San Francisco de Asís, en la iglesia construido en su honor en la década de los 90´s.
        
          </li>
        <li>
            Peregrinación de Caballería de San Francisco Tepeolulco a Temascalcingo en el Estado de México el <b>02 de Enero</b>, siendo también una de las tradiciones más importantes de la comunidad de aproximadamente 91 años de llevarse a cabo desde 1925, donde se observa la participación de aproximadamente 2800 personas que van a pie y a caballo al encuentro con el Santo Patrono de la comunidad, después de haber estado presente el Fiesta Patronal en Honor al Señor de la Coronación en Temascalcingo.
            <ion-img src="/assets/fiesta4.png"></ion-img>
          </li>
          <li>
              Víspera y Fiestas en Honor a los Apóstoles San Pedro y San Pablo en la parroquia de San Francisco de Asís los días <b>28 y 29 de Junio</b>.
              <ion-img src="/assets/fiesta5.jpg"></ion-img>
            </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>