<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-img src="/assets/home3.png"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="/assets/home7.png"></ion-img>
        
        </ion-slide>
  
      </ion-slides>
      <ion-card-header>
        <ion-card-title>Economía</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="text-align: justify;
        text-justify: inter-word;">
          Las principales actividades económicas de los pobladores  de San Francisco Tepeolulco son la Agricultura y el Comercio, pero también la crianza de borregos y aves de corral es una actividad no menos importante que realizan los pobladores para su consumo o venta.        
        </p>
        <br>
        <ion-card-title>Agricultura</ion-card-title>
        
        <p style="text-align: justify;
        text-justify: inter-word;">
          Las principales actividades económicas de los pobladores  de San Francisco Tepeolulco son la Agricultura y el Comercio, pero también la crianza de borregos y aves de corral es una actividad no menos importante que realizan los pobladores para su consumo o venta.        
        </p>
        <br>
        <ion-card-title>Comercio</ion-card-title>
        <p style="text-align: justify;
        text-justify: inter-word;">
          Las principales actividades económicas de los pobladores  de San Francisco Tepeolulco son la Agricultura y el Comercio, pero también la crianza de borregos y aves de corral es una actividad no menos importante que realizan los pobladores para su consumo o venta.        
          <br><br>
          En los años 80’s y 90’s inicia la producción de pasadores de piel para dama con grabados de diversos nombres propios, la producción de cinturones de piel, la elaboración de pequeños violines, elaboración de caballos de yeso, estas últimas actividades se fueron devaluado al paso de los años, pero hay que hacer mención que en la actualidad aún hay familias que se dedican a elaborarlos.
          <br><br>
          Como es bien sabido las mujeres de San Francisco Tepeolulco destacan por sus textiles mazahuas, que son bordados artesanales de colores llamativos como por ejemplo la elaboración del quexquemetl, servilletas, tejidos, fajas, manteles, morrales que resaltan la calidad, dedicación e identidad de su cultura.
          <br><br>
          Aproximadamente en los años 2006 y 2007 inician con la producción de cunas para niños, empleando un material que se elabora y utiliza en la industria textil del Valle de Toluca, con ello nace una nueva forma de producción y venta para el comercio de la localidad.
          <br><br>
          Los habitantes de San Francisco Tepeolulco tienen una larga tradición de comercio y acostumbran viajar a gran parte de la república mexicana como Chihuahua, Tijuana, Ciudad Juárez, Monterrey, Reynosa, Guadalajara, Michoacán, Guanajuato, Querétaro, Cuidad de México, Veracruz, Tampico, San Luis Potosí, Saltillo, Sonora, Sinaloa para vender sombreros, cinturones de piel, hamacas, cunas, caballos de yeso, textiles mazahuas, rebosos, gabanes, etcétera.
          <br><br>
          
      </p>
      </ion-card-content>
    </ion-card>
</ion-content>
