<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Inicio
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <ion-img src="/assets/home3.png"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="/assets/home7.png"></ion-img>
          
          </ion-slide>
    
        </ion-slides>
        <ion-card-header>
            <ion-card-title>Gastronomía</ion-card-title>

        </ion-card-header>
        <ion-card-content>
            <br>
            <p style="text-align: justify;
            text-justify: inter-word;">
              El sazón local es único y delicioso.
              <br><br>
              San Francisco Tepeolulco cuenta con una variedad de comidas típicas o tradicionales para deleitar el paladar de sus pobladores y de sus visitantes.
              <br><br>
              Los principales bocados gastronómicos tienen su base en el maíz y el frijol, como por ejemplo las tortillas, los tamales, el delicioso atole de masa; también los insustituibles frijoles, cocinados con epazote y nopales
              <br><br>
      
      Los principales bocados gastronómicos tienen su base en el maíz y el frijol, como por ejemplo las tortillas, los tamales, el delicioso atole de masa; también los insustituibles frijoles, cocinados con epazote y nopales.
      
      Las mujeres configuran el pilar fundamental de la gastronomía en San Francisco Tepeolulco, es decir; tienen una gran responsabilidad alimentaria como por ejemplo:
              <br><br>
              El <b>preparar el nixtamal</b>, (que es la cocción de los granos de maíz en cal y agua, para después acudir a los famosos molinos o en su caso moler los granos de maíz en un metate y obtener la masa, con la que se realizan las famosas tortillas, en el comal de piso). Podemos asegurar que las mujeres mazahuas desde temprana edad aprenden a moler y echar la tortilla, que refuerza una gran parte de su identidad.
              <br><br>
              Durante la temporada de lluvia de mayo a octubre, la humedad propicia el crecimiento de <b>hongos de maíz comestibles</b> conocidos como <b>huitlacoches</b> y los famosos <b>quelites</b> que crecen en las milpas de la comunidad como por ejemplo el <b>quelite chivito y shiri</b>, con los que se pueden realizar alimentos exquisitos.
              <br><br>
              Entre la comida típica o tradicional encontramos:
              <br>
            </p>
            <ul style="text-align: justify;
            text-justify: inter-word;">
                <li><b>El mole de guajolote o pollo</b>, acompañado de arroz, tortillas, tamales. Platillo que predomina en gran parte de las festividades familiares o públicos en la comunidad.</li>
                <li>Nopales con charal en salsa verde.</li>
                <li>Nopales con frijol en salsa verde o roja.</li>
                <li>Carne de res (Bistec) con o sin nopales en salsa verde o roja, acompañado de arroz o frijoles</li>
                <li>Tamales de masa rellenos de frijoles, salsa verde o roja de molcajete.</li>
                <li>Quelites asados en comal o freídos en aceite, como el quelite carretón, malva, quintoniles, acompañado de una salsa de molcajete verde o roja y tortillas.</li>
                <li>Ensalada de quelites chivitos, que lleva aguacate, chicharrón de caso (tostado) y jitomate.</li>
                <li>Caldo de Capó, que lleva chile pasilla del ancho, cebolla, una tuna conocido como xoconostle.</li>
                <li>Huitlacoches freídos en aceite con granos de maíz, acompañado con tortillas.</li>
                <li>Flor de calabaza freído en aceite, acompañado de una salsa de molcajete verde o roja y tortillas.</li>
              </ul>

              <br>
            <ion-card-title>Postres de Temporada</ion-card-title>
              <br>
              <ul>
                <li>Duraznos en almíbar.</li>
                <li>Calabaza en almíbar.</li>
                <li>Pera en almíbar.</li>
              </ul>
              <br>
              <ion-card-title>Bebidas</ion-card-title>
                <br>
                <ul>
                  <li>El famoso pulque.</li>
                </ul>
        </ion-card-content>
      </ion-card>
  </ion-content>
  